@charset "utf-8";

html{
  font-size: 100%;
}

body{
  margin: 0;/*外側余白無し*/
  padding: 0;/*内側余白無し*/
  font-family: "Hiragino Kaku Gothic ProN",sans-serif;;
}

/* --------ヘッダー-------- */
header{
  width: 100%;
  height: 110px;
  background: #ff8c00;
}
.header-line{
  width: 100%;
  height: 20px;
  background: #331c00;
  margin: 0;
  font-size: 13px;
  color: #fff;
}

.header-left{
  position: relative;
  float: left;
  width: 100px;
  height: 100%;/*親要素のheaderの高さ*/
  padding: 0;
}

.logo{
  position: absolute;
  top: 40%;/*親のtopから50%*/
  left: 40%;/*親のleftから50%*/
  transform: translateX(-50%) translateY(-50%);/*子要素自身の大きさの半分をマイナス上と左に*/
  width: 90px;
  height: 90px;
  padding: 0;
}

.header-right{
  float: right;
  width: 404px;/*li要素が4つ入る幅*/
  height: 100%;/*親要素のheaderの高さ*/
  margin: 0;
}

.header-right ul{ 
  list-style: none;/*リストの●は表示しない*/
  width: 100%;
  height: 100%;
  float: left;
  margin: 0;
  padding: 0;
}

.header-right li{
  width: 100px;
  height: 100%;/*親要素のheaderの高さ*/
  float: left;
  margin: 0;
  border-left: 1px solid #fff;
}

.header-right a{
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  display: block;
  line-height: 80px;
  text-align: center;
}

.fa-instagram{
  color:#e1306c;
}

main{
  width: 100%;
}

.content-title{
  position: relative;
  width: 100%;
  height: 450px;
  margin: 0;
  padding: 0;
  background-image: url(top.jpg);
  background-size: cover;
  color: #fff;
  text-align: center;
  border-top: 2px solid #fff;
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 50%;
}

.title h1{
  font-size: 60px;
  margin-top: 0;
}

.title p{
  line-height: 0.8;
}

.content-menu{
  width: 100%;
  height: 1050px;
  background-color: #ff8c00;
  border-top: 2px solid #fff;
}
.content{
  margin: 50px 30px;
  height: 430px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.section{
  width: 100%;
  margin: 25px 0;
  text-align: center;
  font-size: 25px;
}

.curry-recipe{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 8px;
  float: left;
  background-color:#995400;;
}

.curry-recipe img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
  width: 270px;
  height: 230px;
}

.curry-recipe p{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: #fff;
}

.spice{
  position: relative;
  width: 406px;
  height: 300px;
  margin: 0 8px;
  float: left;
  background-color:#995400;
}
  
.spice img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
  width: 376px;
  height: 230px;
}
  
.spice p{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: #fff;
}

footer{
  position: relative;
  width: 100%;
  height: 150px;
  background: #331c00;
}

.footer{ 
  position: relative; 
  top: 40%;
  width: 800px;
  height: 15px;
  margin: auto;
  padding: 0;
}

.footer ul{
  width: 800x;
  list-style: none;/*リストの●は表示しない*/
}
  
.footer li{
  width: 150px;
  float: left;
  border-left: 1px solid #fff;
}

.footer li.li-left{
  border-left: 0;
}

.footer a{
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  display: block;
  line-height: 20px;
  text-align: center;
}

.copyright{
  position: relative;
  top: 50%;
  width: 400px;
  margin: auto;
  padding: 0;
}

.copyright p{
  color: #fff;
  font-size: 12px;
  text-align: center;
}
